.bg-img {
  /* The image used */
  background-image: url("bg-img.png");

  min-height: 730px;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
  }
  .nav{
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .login ,.register
  {
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding:20px;
  }

 